header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom: solid 1px lightgray;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    h2 {
      margin: 1rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  img {
    border: solid black 4px;
    margin-top: 0.25rem;
  }
  .favorites {
    &:hover {
      cursor: pointer;
      color: black;
    }
    i {
      margin-right: 0.5rem;
    }
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  align-items: center;
  background: #fff;
  height: 50px;
  width: 100%;
  margin: 0px;
  border: solid lightgray 1px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  a {
    border-right: solid lightgray 1px;
    padding: 1rem 0.5rem;
    transition: ease-in-out 300ms;
    &:hover {
      cursor: pointer;
      letter-spacing: 1px;
    }
  }
}
.banner {
  position: relative;
  .bannerImage {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .bannerTitle {
      font-size: 3rem;
      color: #fff;
      transition: ease-in 500ms;
    }
    button {
      color: #fff;
      background: rgba(0, 0, 0, 0.3);
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      border: solid 1px lightgray;
      transition: 150ms ease-in;
      &:hover {
        background: rgba(255, 255, 255, 0.6);
        color: #444;
        border: solid 1px rgba(0, 0, 0, 0.7);
      }
    }
    input {
      height: 1.5rem;
      width: 18rem;
      border-radius: 0.25rem;
      margin: 2rem 0.5rem;
      padding: 0rem 0.5rem;
    }
  }
}
